<!DOCTYPE html>
<html>
<head>
  <title>ReworkDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<link href="/admin_style.css" media="all" rel="stylesheet" type="text/css" />
<body style="background-color:white" class="active_admin">
<div id="header" class="header">
        <h1 id="site_title" class="site_title">ReworkDemo</h1>
        <ul id="tabs" class="header-item">
<!--          <li id="home" class=""><a href="/admin/home">Home</a></li>-->
        </ul>
        <p id="utility_nav" class="header-item"></p>
								
								
					 
		</div>

<%=yield%>

</body>
</html>
